In [1]:
import pandas as pd 
import numpy as np 
import nltk
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize , sent_tokenize
from nltk.stem import WordNetLemmatizer
import string 
import re

In [2]:
df = pd.read_csv(r"C:\Users\dell\Documents\Data analysis\OASIS INFOBYTE\Sentiment analysis\Twitter_Data.csv")

In [3]:
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [4]:
df.isnull().sum()

clean_text    4
category      7
dtype: int64

In [5]:
df.dropna(inplace = True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162969 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162969 non-null  object
 1   category    162969 non-null  float64
dtypes: float64(1), object(1)
memory usage: 3.7+ MB

In [7]:
#text processing (converting in lower case)

df['lower_text']= df['clean_text'].str.lower()

In [8]:
#removing urls , mentions , html

df['removing_url'] = df['lower_text'].str.replace(r'http\S+|www\.\S+', '', regex=True)
df['removing_url']= df['removing_url'].str.replace(r'<.*?>', '',regex= True)
df['removing_url']=df['removing_url'].str.replace(r'@\w+', '',regex= True)

In [9]:
#removing punctuation 
df['removing_p']=df['removing_url'].str.replace(r'[^\w\s]', '',regex= True)

In [10]:
def clean_text (text):
    words = word_tokenize(text)
    sw = set(stopwords.words('english'))
    rsw = [i for i in words if i not in sw]
    L = WordNetLemmatizer()
    base_w = []
    for i in rsw:
        temp = L.lemmatize(i)
        base_w.append(i)
    return ' '.join(base_w)

In [11]:
df['removing_p'] = pd.DataFrame(df['removing_p'])
df['removing_p'].apply(clean_text)

0         modi promised minimum government maximum gover...
1                    talk nonsense continue drama vote modi
2         say vote modi welcome bjp told rahul main camp...
3         asking supporters prefix chowkidar names modi ...
4         answer among powerful world leader today trump...
                                ...
162975    456 crores paid neerav modi recovered congress...
162976    dear rss terrorist payal gawar modi killing 10...
162977                         cover interaction forum left
162978    big project came india modi dream project happ...
162979    ever listen like gurukul discipline maintained...
Name: removing_p, Length: 162969, dtype: object

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [33]:
x = df['removing_p']
y = df['category']
x_train_test, x_test_text,y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state= 42)

In [37]:
vector = TfidfVectorizer()
x_train_test = vector.fit_transform(x_train_test)
x_test = vector.transform(x_test_text)

In [38]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score

In [ ]:
svm_model = SVC(kernel= 'linear')
svm_model.fit(x_train_test, y_train)

In [ ]:
y_pred = svm_model.predict(x_test_text)

In [ ]:
print ('accuracy score:', accuracy_score(y_test,y_pred))
print('classification report',classification_report (y_test,y_pred))
print('confusion_matrix',confusion_matrix(y_test,y_pred))